html, body {
	margin: 0 auto;
	padding: 0;
}

* {
	outline: none !important;
}

a {
	text-decoration: none;
}

.inline {
	display: inline-block;
}

.marginless {
	margin: 0;
}

.fixed-bottom {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
}

.widemargin {
	margin-left: 15px;
	margin-right: 15px;
}

.noselect {
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	-webkit-touch-callout: none;
}

.arrow-cursor {
	cursor: default;
}

/*.animate-enter {
	opacity: 0;
	transition: opacity .5s ease-in;
}

.animate-enter-active {
	opacity: 1;
}

.animate-leave {
	opacity: 1;
	transition: opacity .5s ease-in;
}

.animate-enter-active {
	opacity: 0;
}*/


.chapter-entry > div {
	padding: 0 !important;
}

.chapter-entry > div > div {
	-webkit-transition: .3s ease-in;
	        transition: .3s ease-in;
	padding: 10px;
}

.chapter-entry:hover > div > div {
	-webkit-transition: .1s ease-out;
	        transition: .1s ease-out;
	background: #eee;
}

.colorpicker {
	position: absolute;
	background: #222;
	top: -90px;
	right: 0;
	width: 410px;
	height: 90px;
	padding: 5px;
	/*border: 2px solid #eee;*/
	line-height: 10px;
}

.colorbox {
	width: 30px;
	height: 30px;
	margin: 5px;
	border: 4px solid #222;
	display: inline-block;
}

.colorbox.current {
	border: 4px solid #eee;
}

.colorbox.selected {
	border: 4px solid #888;
}
