doctype html
html
	head
		link(rel='stylesheet' href='./css/materialize.css')
		link(rel='stylesheet' href='./css/animate.css')
		link(rel='stylesheet' href='./css/app/mangaio.css')
	body
		div#mangaio
		script(src='./js/es6-module-loader.js')
		script(src='./js/system.js')
		script(src='./js/socket.io.js')
		script(src='./js/lodash.js')
		script(src='./js/app/index.js')
		script(src='./js/jquery.js')
		script(src='./js/materialize.js')
